* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7ECEF;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #274C77;
    height: auto;
    color: white;
}

header .logoCoincap {
    width: 100px;
    margin: 5px 20px;
}

header .tituloHeader {
    width: auto;
    font-size: clamp(0.8rem, 2.5vw, 1.3rem);
}

main {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div .contenedorPrecioDolar {
    height: 200px;
    width: 300px;
    color: white;
    background-color: #6096BA;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

}

.precioDolarText {
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
}

div .contenedorGraphTopFive {
    color: white;
    background-color: #6096BA;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

div .myChart{
    height: 350px;
    width: 700px; 
    margin: 5px 20px;   
    background-color: #E7ECEF;
}



/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 460px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}