* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7ECEF;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #274C77;
    height: auto;
    color: white;
}

header .logoCoincap {
    width: 100px;
    margin: 5px 20px;
}

header .tituloHeader {
    width: auto;
    font-size: clamp(0.8rem, 2.5vw, 1.3rem);
}

main {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div .contenedorPrecioDolar {
    height: 200px;
    width: 300px;
    color: white;
    background-color: #6096BA;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

}

.precioDolarText {
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
}

.iconoDolar {
    margin-top: 10px;
}

div .contenedorGraphTopFive {
    color: white;
    background-color: #6096BA;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

div .myChart{
    height: 350px;
    width: 700px; 
    margin: 5px 20px;   
    background-color: #E7ECEF;
}

.contenedorMonedas {
    height: 500px;
    background-color: #6096BA;
    color: white;
    overflow: auto;
}

.moreInfoCard {
    font-size: 15px;
    padding: 5px;
    border: 2px black solid;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-style: normal;
}

.moreInfoCard:hover {
    background-color: #E7ECEF;
}

.footerFinal {
    background-color: #274C77;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: static;
}

footer .logoCoincap {
    width: 100px;
    margin: 5px 20px;
}

footer .integrantes {
    width: auto;
    font-size: clamp(0.8rem, 2.5vw, 1.3rem);
    padding: 5px;
}



/* Media Queries */

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    div .myChart {
        width: 500px;
        height: 300px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    div .myChart {
        width: 300px;
        height: 180px;
    }
}

/* Extra small devices (phones, 375 and down) */
@media (max-width: 375px) {
    div .myChart {
        width: 250px; 
        height: 150px;
    }
}